@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto", "sans-serif";
  letter-spacing: -0.016rem;
}

.main-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: start; */
}

/* Hero section */
.Hero-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("./imgs/cowboy.PNG");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  margin-bottom: 2rem;
}

.nav-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.2rem 0.2rem 0.2rem 0.2rem;
}

.nav-left {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  column-gap: 1rem;
  padding: 0.5rem;
}

.nav-logo h1 {
  font-size: 1.2rem;
  font-weight: 400;
  color: #ffffff;
  border-radius: 0.3rem;
  padding: 0.5rem;
}

.nav-logo h1:hover {
  background-color: #949494;
  cursor: pointer;
}
.nav-items {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  column-gap: 0.5rem;
}

.nav-items p {
  font-size: 0.85rem;
  margin: 0.5rem 0.2rem;
}

.about a {
  text-decoration: none;
  color: #ffffff;
}
.about:hover {
  background-color: #949494;
  cursor: pointer;
  border-radius: 0.5rem;
}
.research a {
  text-decoration: none;
  color: #ffffff;
}

.research:hover {
  background-color: #949494;
  cursor: pointer;
  border-radius: 0.5rem;
  color: #ffffff;
}
.technologies a {
  text-decoration: none;
  color: #ffffff;
}
.technologies:hover {
  background-color: #949494;
  cursor: pointer;
  border-radius: 0.5rem;
  color: #ffffff;
}
.discover a {
  text-decoration: none;
  color: #ffffff;
}
.discover:hover {
  background-color: #949494;
  cursor: pointer;
  border-radius: 0.5rem;
  color: #ffffff;
}
.i-con {
  padding: 0.5rem;
}

.nav-right {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  color: #ffffff;
  font-size: 1rem;
  padding: 1rem 1.5rem 0.2rem 0.2rem;
}

.hero-text {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding: 4rem 5rem 10rem 25rem;
}

.hero-text h1 {
  font-size: 5.6rem;
  font-weight: 400;
  margin-top: 5rem;
  margin-bottom: 0.02rem;
}

.hero-text p {
  font-size: 1.5rem;
  padding: 1.5rem 0.5rem 1rem 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
}

.hero-text button {
  padding: 1rem 2rem;
  font-size: 0.8rem;
  color: #1a73e8;
  border-radius: 1.5rem;
  background-color: #f1f3f4;
  border: 1px solid #d9d9d9;
  margin-top: 0.02rem;
  font-weight: 500;
}

.vid-container i {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background: #000000;
  color: #fff;
  padding: 1rem;
  font-size: 0.75rem;
  border-radius: 1.5rem;
  font-weight: 600;
}
.vid-container i:hover {
  background-color: #949494;
}

/* News */

.news {
  width: fit-content;
  height: auto;
  margin: 4rem 0rem 0.2rem 7rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  column-gap: 3rem;
}

.latest-news {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  column-gap: 35rem;
  /* background-color: #1a73e8; */
}

.left-news h1 {
  font-weight: 400;
  font-size: 1.7rem;
  margin-top: 0.023rem;
}

.left-news p {
  font-size: 0.9rem;
  color: #606060;
  /* padding-bottom: 0.2rem; */
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.view-news a {
  text-decoration: none;
  font-size: 0.8rem;
  color: #1a73e8;
  font-weight: 400;
}

/* company */
/* technologies  */
/* research */

.three-cards {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: start;
  flex-wrap: wrap;
  column-gap: 4rem;
  margin-top: 0.4rem;
}
.card {
  width: 300px;
  height: auto;
  overflow: hidden;
  border: 0.01rem solid #d9d9d9;
  background: #fff;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0.1rem 0.1rem #f1f3f4;
}
.card-image img {
  width: 100%;
  height: 150px;
}

.card-content {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 1rem 0.5rem 1rem 1rem;
  row-gap: 0.5rem;
}

.top p {
  width: 100%;
  height: fit-content;
  font-size: 0.6rem;
  font-weight: 500;
  color: #606060;
  margin-top: 0.1rem;
  margin-bottom: 0.5rem;
}

.top img {
  width: 10%;
  height: 30px;
  border-radius: 50%;
}

.top h2 {
  font-size: 1.1rem;
  font-weight: 400;
  margin-top: 0.1rem;
  margin-bottom: 0.5rem;
}

.top h4 {
  font-size: 0.8rem;
  color: #949494;
  font-weight: 400;
  line-height: 1.3rem;
}

.card-bottom {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  column-gap: 10rem;
}

.icon-bottom i {
  color: #1a73e8;
  font-size: 1rem;
}

/* podcast */
.podcast {
  width: 100%;
  height: 100vh;
  color: #ffffff;
  background-image: url("./imgs/podcasts.png");
  background-repeat: no-repeat;
  background-size: 1025px 500px;
  padding-top: 10rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: relative;
  margin: 4rem 0rem 0rem 0rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.podcast p {
  width: fit-content;
  height: auto;
  font-size: 1.1rem;
  font-weight: 400;

  padding-top: 1rem;
}

.podcast h1 {
  font-size: 0.6rem;
  letter-spacing: 0.125rem;
}

.podcast h2 {
  width: 50%;
  height: auto;
  font-size: 2.5rem;
  font-weight: 400;
  padding-top: 1rem;
}

.podcast button {
  background-color: #f1f3f4;
  border: none;
  color: #1a73e8;
  padding: 1rem 2rem;
  font-size: 0.875rem;
  border-radius: 1.5rem;
  cursor: pointer;
  margin-top: 7rem;
}

.podcast button:hover {
  color: #005bb5;
}

/* technology-section */
.technology {
  width: 100%;
  height: auto;
}
.tech-section {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.2rem 6rem 0rem 25rem;
}

.tech-section h1 {
  width: 50%;
  height: auto;
  font-size: 2.5rem;
  font-weight: 400;
  padding-top: 1rem;
}

.tech-section h2 {
  width: fit-content;
  height: auto;
  font-size: 1.5rem;
  font-weight: 400;
  padding-top: 2rem;
  padding-bottom: 1rem;
  color: #606060;
}

.view-tech a {
  text-decoration: none;
  font-size: 0.8rem;
  color: #1a73e8;
  font-weight: 500;
  padding-right: 4rem;
}

.astra-tech {
  width: 100%;
  height: 100vh;
  color: #ffffff;
  background-image: url("./imgs/project-astra.jpg");
  background-repeat: no-repeat;
  background-size: 1025px 500px;
  padding-top: 10rem;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 4rem 2rem 0rem 7rem;
  border-radius: 0.5rem;
}

.astra-tech p {
  width: 50%;
  height: auto;
  font-size: 1.1rem;
  font-weight: 400;
  padding-top: 1rem;
  margin-left: 4rem;
}

.astra-tech h2 {
  width: 50%;
  height: auto;
  font-size: 5rem;
  font-weight: 400;
  padding-top: 1rem;
}

.astra-tech button {
  background-color: #f1f3f4;
  border: none;
  color: #1a73e8;
  padding: 1rem 2rem;
  font-size: 0.875rem;
  border-radius: 1.5rem;
  cursor: pointer;
  margin-top: 7rem;
  margin-right: 10rem;
}
.astra-tech button:hover {
  color: #005bb5;
}

/* Gemini and Veo */
.gem-veo {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: start;
  flex-wrap: wrap;
  column-gap: 2rem;
  padding-left: 7rem;
}

.gcard {
  width: 500px;
  height: fit-content;
  overflow: hidden;
  border: 0.01rem solid #d9d9d9;
  background: #fff;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.gcard:hover {
  box-shadow: 0.1rem 0.1rem #f1f3f4;
  cursor: pointer;
}
.gcard-image img {
  width: 100%;
  height: auto;
}

.gcard-content {
  width: fit-content;
  height: auto;
  padding: 1rem 0.5rem 1rem 1rem;
  row-gap: 0.7rem;
  position: relative;
  margin-bottom: 3rem;
}

.g-top p {
  width: 100%;
  height: fit-content;
  font-size: 0.6rem;
  font-weight: 500;
  color: #606060;
  margin-top: 0.1rem;
  margin-bottom: 0.5rem;
}

.g-top img {
  width: 10%;
  height: 30px;
  border-radius: 50%;
}

.g-top h2 {
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 0.1rem;
  margin-bottom: 0.5rem;
}

.g-top h4 {
  font-size: 0.9rem;
  color: #949494;
  font-weight: 400;
  line-height: 1.3rem;
}

.gcard-bottom {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: start;
  column-gap: 10rem;
}

.gicon-bottom i {
  color: #1a73e8;
  font-size: 1rem;
  position: absolute;
  padding-top: 2rem;
  padding-right: 9rem;
  padding-bottom: 2rem;
  padding-left: 28rem;
}

/* imagen 3 
synthid
Alphafold*/
.technology-cards {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: start;
  padding-left: 3rem;

  display: table;
  border-spacing: 4rem;
}

.tcard {
  width: 300px;
  height: auto;
  overflow: hidden;
  border: 0.01rem solid #d9d9d9;
  background: #fff;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  display: table-cell;
}
.tcard:hover {
  cursor: pointer;
  box-shadow: 0.1rem 0.1rem #f1f3f4;
}
.tcard-image img {
  width: 100%;
  height: auto;
}

.tcard-content {
  width: fit-content;
  height: auto;
  padding: 1rem 0.5rem 1rem 1rem;
  row-gap: 0.7rem;
  position: relative;
  margin-bottom: 3rem;
}

.t-top p {
  width: 100%;
  height: fit-content;
  font-size: 0.6rem;
  font-weight: 500;
  color: #606060;
  margin-top: 0.1rem;
  margin-bottom: 0.5rem;
}

.t-top img {
  width: 10%;
  height: 30px;
  border-radius: 50%;
}

.t-top h2 {
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 0.1rem;
  margin-bottom: 0.5rem;
}

.t-top h4 {
  font-size: 0.9rem;
  color: #949494;
  font-weight: 400;
  line-height: 1.3rem;
}

.tcard-bottom {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: start;
  column-gap: 10rem;
}

.ticon-bottom i {
  color: #1a73e8;
  font-size: 1rem;
  position: absolute;
  padding-top: 2rem;
  padding-right: 6rem;
  padding-bottom: 0.5rem;
  padding-left: 15rem;
}

/* Responsibility */
.resp {
  width: 100%;
  height: auto;
}

.resp-section {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 1.8rem 6rem 0rem 20rem;
}

.resp-section h1 {
  width: 50%;
  height: auto;
  font-size: 2.5rem;
  font-weight: 400;
  padding-top: 2rem;
  align-items: center;
}

.resp-section h2 {
  width: fit-content;
  height: auto;
  font-size: 1.5rem;
  font-weight: 400;
  padding-top: 2rem;
  padding-bottom: 1rem;
  padding-right: 16rem;
  color: #606060;
  text-align: center;
}

/* safety */
.resp-cards {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: start;
  flex-wrap: wrap;
  column-gap: 2rem;
  padding-left: 7rem;
  padding-top: 2.5rem;
}

.pcard {
  width: 500px;
  height: fit-content;
  overflow: hidden;
  border: 0.01rem solid #d9d9d9;
  background: #fff;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.pcard:hover {
  box-shadow: 0.1rem 0.1rem #f1f3f4;
  cursor: pointer;
}

.pcard-image img {
  width: 100%;
  height: auto;
}

.pcard-content {
  width: fit-content;
  height: auto;
  padding: 1rem 0.5rem 1rem 1rem;
  row-gap: 0.7rem;
  position: relative;
  margin-bottom: 3rem;
}

.p-top p {
  width: 100%;
  height: fit-content;
  font-size: 0.6rem;
  font-weight: 500;
  color: #606060;
  margin-top: 0.1rem;
  margin-bottom: 0.5rem;
}

.p-top img {
  width: 10%;
  height: 30px;
  border-radius: 50%;
}

.p-top h2 {
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 0.1rem;
  margin-bottom: 0.5rem;
}

.p-top h4 {
  font-size: 0.9rem;
  color: #949494;
  font-weight: 400;
}

.pcard-bottom {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: start;
  column-gap: 10rem;
}

.picon-bottom i {
  color: #1a73e8;
  font-size: 1rem;
  position: absolute;
  padding-top: 2rem;
  padding-right: 9rem;
  padding-bottom: 2rem;
  padding-left: 28rem;
}

/* products */
.products {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding: 1.8rem 6rem 0rem 7rem;
}

.explore h1 {
  width: 400px;
  font-size: 2rem;
  font-weight: 400;
  padding-right: 3rem;
  text-decoration: none;
}

.prod-category {
  width: fit-content;
  height: auto;
  padding: 1.5rem;
  padding: 1rem 2rem;
}
.google-AI {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  border: 1px solid #d9d9d9;
  margin-top: 0.5rem;
  font-weight: 500;
  padding: 1rem 1rem 1.81rem 1rem;

  font-size: 0.9rem;
}

.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding: 1.8rem 7rem 4rem 7rem;
}

.left {
  flex: 1;
}

.left h2 {
  width: 400px;
  font-size: 2rem;
  font-weight: 400;
  padding-right: 3rem;
  text-decoration: none;
  font-size: 24px;
  margin: 0;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.item {
  display: flex;
  align-items: center;

  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px 15px;
  justify-content: space-between;
  transition: background-color 0.3s;
}

.item:hover {
  background-color: #f1f1f1;
}

.item img {
  width: 24px;
  height: 24px;
  margin-right: 15px;
}

.item span {
  flex: 1;
  font-size: 16px;
}

.item a {
  text-decoration: none;
  color: #0073e6;
  font-size: 20px;
  font-weight: bold;
}

.item a:hover {
  color: #005bb5;
}

.item i {
  font-size: 1rem;
}

/* footer */



.main-footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background-color: #f8f9fa;
}


.follow-us {
  width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content:start;
  
    margin: 1.5rem 1.5rem 1.5rem 7rem;
   
}

.ftext{
  padding-right: 2rem;

}


.icons i{
  width: fit-content;
  height: auto;
 
  padding-bottom: 0.2rem;
  padding-right: 2rem;
  font-size: 1.5rem;
  font-weight: 300;
  font-size: 1.5rem;
  color: #333;
  
}
.icons i:hover{
  background-color: #ccc;
  cursor: pointer;
  border-radius:1.5rem ;
}



.footer {
  width: fit-content;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 2rem 0.5rem 0rem 0rem;
  margin: 0rem 1.5rem 0.2rem 7rem;
  border-top: 0.1rem solid #ddd;
  border-bottom: 0.1rem solid #ddd;
  column-gap: 3rem;
}

.footer-section {
  max-width: 30%;
}

.footer-section h4 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #333;
  font-weight: 400;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section ul li {
  margin-bottom: 1rem;
}

.footer-section ul li a {
  text-decoration: none;
  color: #666;
  font-size: 14px;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

footer form {
  display: flex;
  flex-direction: column;
}

footer form input[type="email"] {
  width: 100%;
  padding: 0.5rem 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  background-image: url('./imgs/envelope.png');
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 0.3rem;
  color: #ddd;
  

}

footer form label {
  font-size: 0.8rem;
  color: #666;
  margin-bottom: 2rem;
  line-height: 1.3rem;
}

footer form label a {
  color: #666;
}

footer form label a:hover {
  text-decoration: underline;
}


.footer-section button {
  padding: 1rem 2rem;
  margin-bottom: 1.5rem;
 
  background-color: #ffffff;
  border-color: #ccc;
  border-radius: 1.5rem;
  cursor: pointer;
  font-size: 0.9rem;
  color: #0073e6;
}

.footer-section button:hover {
  color: #005bb5;
}

.bottom-left {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  column-gap: 1rem;
  padding: 0.5rem;
  margin: 0rem 2rem 0.2rem 6rem;
 
}

.bottom-logo h1 {
  font-size: 1.2rem;
  font-weight: 400;
  color: #666;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.bottom-logo h1:hover {
  background-color: #000000;
  cursor: pointer;
}

.bottom-items {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding-top: 0.5rem;
  
   margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  
  
}

.bottom-items p {
  align-items: center;
  font-size: 0.85rem;
  
}

.about-google{
  width: 100%;
  
  padding: 0.5rem;
  
  
}
.about-google a {
  width: fit-content;
  text-decoration: none;
  color: #666;
  
  
 
}

.about-google:hover {
  color: #000000;
  cursor: pointer;
}
.products{
    width: 100%;
  
    padding: 0.5rem;
}
.products a {
  text-decoration: none;
  color: #666;
}

.products:hover {
  cursor: pointer;

  color: #000000;
}

.privacy {
  width: 100%;
  
  padding: 0.5rem;
}
.privacy a {
  text-decoration: none;
  color: #666;
}

.privacy:hover {
  cursor: pointer;

  color: #000000;
}

.terms {
  width: 100%;

  padding-left:0;
}
.terms a {
  text-decoration: none;
  color: #666;
}

.terms:hover {
  cursor: pointer;
  color: #000000;
}
